<app-navbar-vertical></app-navbar-vertical>
<div class="navbar-vertical-main-content">
  <section class="row gap-5 justify-content-center justify-content-md-start p-5">
    @for(reservation of currentReservations; track reservation.id) {
    <app-reservation-card class="col reservation-card" [reservation]="reservation"></app-reservation-card>
    }
    @empty {
    <div class="card bg-warning-subtle border-warning text-warning-emphasis mt-5" id="empty-schedule">
      <div class="card-body text-center">
        <h5>Não há reservas na agenda no momento.</h5>
      </div>
    </div>
    }
  </section>
</div>
<app-create-reservation-modal></app-create-reservation-modal>
