<section class="container p-5" id="pricing-section">
  <div class="text-center mb-5">
    <h1 class="fw-bold mb-2">Reserve seu horário!</h1>
    <p class="text-muted">Escolha o melhor pacote e garanta seu jogo no nosso campinho.</p>
  </div>
  <section class="row align-items-center justify-content-center g-4">
    <!--Card 1-->
    <div class="col-lg-4">
      <div class="bg-success text-center text-white fw-medium rounded-top-2">Mais escolhido</div>
      <div class="card text-center shadow p-3 rounded-0 rounded-bottom-2" style="min-height: 18rem;">
        <h4 class="card-title mb-4">1 Hora</h4>
        <h2 class="text-success mb-4">R$ 130</h2>
        <ul class="list-unstyled">
          <li>✅ Bola incluso</li>
        </ul>
        <div><a href="#reserva" class="btn btn-success btn-lg mt-4">Reservar</a></div>
      </div>
    </div>

    <!--Card 2-->
    <div class="col-lg-4">
      <div class="card text-center shadow p-3" style="min-height: 16rem;">
        <h4 class="card-title mb-4">Alugar o espaço</h4>
        <h2 class="text-success mb-4">R$ 400</h2>
        <ul class="list-unstyled">
          <li>✅ Bolas incluso</li>
          <li>✅ Mesas e cadeiras inclusos</li>
        </ul>
        <div><a href="#reserva" class="btn btn-success btn-lg">Reservar</a></div>
      </div>
    </div>
  </section>


  <div class="text-center mt-5">
    <a href="/agenda" class="btn btn-lg btn-success link-underline">Ver horários disponíveis</a>
  </div>
</section>
