<section class="container p-5">
  <div class="text-center mb-5">
    <h1 class="fw-bold">Reserve seu horário!</h1>
    <p class="text-muted">Escolha o melhor pacote e garanta seu jogo no nosso campinho.</p>
  </div>

  <!--Card 1-->
  <div class="row align-items-center g-4">
    <div class="col-lg-4">
      <div class="card text-center shadow p-3" style="min-height: 16rem;">
        <h4 class="card-title mb-4">1 Hora</h4>
        <h2 class="text-success mb-4">R$ 100</h2>
        <ul class="list-unstyled">
          <li>✅ Coletes + Bola inclusos</li>
        </ul>
        <div><a href="#reserva" class="btn btn-success btn-lg">Reservar</a></div>
      </div>
    </div>


    <!--Card 2-->
    <div class="col-lg-4">
      <div class="bg-success text-center text-white fw-medium rounded-top-2">Mais escolhido</div>
      <div class="card text-center shadow p-3 rounded-0 rounded-bottom-2" style="min-height: 18rem;">
        <h4 class="card-title mb-4">2 Hora</h4>
        <h2 class="text-success mb-4">R$ 180</h2>
        <ul class="list-unstyled">
          <li>✅ Coletes + Bola inclusos</li>
          <li>✅ Desconto especial</li>
        </ul>
        <div><a href="#reserva" class="btn btn-success btn-lg">Reservar</a></div>
      </div>
    </div>

    <!--Card 3-->
    <div class="col-lg-4">
      <div class="card text-center shadow p-3" style="min-height: 16rem;">
        <h4 class="card-title mb-4">Noite toda</h4>
        <h2 class="text-success mb-4">R$ 400</h2>
        <ul class="list-unstyled">
          <li>✅ Coletes + Bola inclusos</li>
          <li>✅ Melhor custo-benefício</li>
        </ul>
        <div><a href="#reserva" class="btn btn-success btn-lg">Reservar</a></div>
      </div>
    </div>
  </div>


  <div class="text-center mt-5">
    <a href="#" class="btn btn-lg">Ver horários disponíveis</a>
  </div>
</section>
