<section class="container-fluid mb-5 pb-5">
  <h2 class="mb-5 text-center fw-bold fs-1">Aqui Temos</h2>
  <div class="row justify-content-around align-items-center row-gap-4">
    <app-service-card class="col-lg-3" style="width: 18rem;" [imgPath]="'/open-bar.jpg'" [title]="'Bebidas'" [text]="'Aqui você curte o jogo tomando aquela gelada.'"></app-service-card>
    <app-service-card class="col-lg-3" style="width: 18rem;" [imgPath]="'/steak.jpg'" [title]="'Churrasco'" [text]="'Temos um espaço excluiso para você fazer seu churrasco.'"></app-service-card>
    <app-service-card class="col-lg-3" style="width: 18rem;" [imgPath]="'/open-bar.jpg'" [title]="'Bebidas'" [text]="'Aqui você curte o jogo tomando aquela gelada.'"></app-service-card>

  </div>
</section>
