/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.navbar-vertical-main-content {
  margin-left: 250px; /* Igual à largura da navbar */
  padding: 20px;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}
